## {{tool_icon}} {{tool_name}} Upgrade ({{current_version}} → {{latest_version}})  

📌 **Current:** {{current_version}}  
📌 **Latest:** {{latest_version}}  

---
{{highlights_table}}


---
{{ breaking_changes}}

---